<%= render 'shared/header' %>
<div class="container">
    <h3 class="center-align">Sign in with</h3>
    <div class="row">
      <%= link_to "Google",
                  user_google_oauth2_omniauth_authorize_path,
                  title: "Sign in with google",
                  class: "waves-effect waves-light btn-large col s6 offset-s3 red darken-1" %>
    </div>
    <div class="row">
      <%= link_to "Facebook",
                  user_facebook_omniauth_authorize_path,
                  title: "Sign in with Facebook",
                  class: "waves-effect waves-light btn-large col s6 offset-s3 indigo" %>
    </div>
    <div class="row">
      <%= link_to "Twitter",
                  user_twitter_omniauth_authorize_path,
                  title: "Sign in with Twitter",
                  class: "waves-effect waves-light btn-large col s6 offset-s3 blue lighten-2" %>
    </div>
    <div class="row">
      <%= link_to "LinkedIn",
                  user_linkedin_omniauth_authorize_path,
                  title: "Sign in with linkedin",
                  class: "waves-effect waves-light btn-large col s6 offset-s3 blue darken-2" %>
    </div>
</div>
